.clock {
    position: relative;
    background-color: black;
    margin-left: 100px;
    text-align: center
}

.clock>p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
}

.clock .clock-digit {
    position: absolute;
    text-align: center;
    background-color: white;
}

.clock .clock-digit.clock-active {
    background-color: greenyellow;
}

#root {
    width: 100px;
    height: 100px;
}

.clock .clock-active {
    color: greenyellow;
    border: 1px solid white;
}